*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;

}
.image{
    background-image: url("https://www.teahub.io/photos/full/96-960414_cartoon-star-wars-planet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background-size: 100%;
}
.getCharacters{
    padding: 4px;
    position: absolute;
    bottom: 5%;
    background: #365B64;
    border: 4px solid #28464C;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.selectStyle{
    padding: 5px;
    background: #E2EEF2;
    border: 2px solid #021A27;
    border-radius: 7px;
}
.buttonContainer button{
    padding: 4px;
    margin: 3px;
    background: #E2EEF2;
    border: 1.5px solid #021A27;
    border-radius: 7px;
    cursor: pointer;
}
.characterWrapper{
    display: flex;
    width: 80vw;
    justify-content: space-around;
    
    /* backdrop-filter: blur(4px); */
    height: 80vh;
}
.characterWrapper > img{
    width: 20vw;
    height: 20vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
.selectCharecter{
    align-self: flex-end;
    margin: 0% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.characterCard{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.characterCard  img {
width: 7rem;
}
.name{
    text-align: center;
    font-family: 'Lobster', cursive;
    text-shadow: 6px 6px 10px black;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoBox{
    width: 30vw;
    height: 10vh;
}
.infoContainerWrapper{
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    margin-top: 1%;

}
.infoContainer1, .infoContainer2{
width: 30vw;
height: 100%;
background: #546C6F;
border: 4px solid #3A5959;
border-radius: 10px;
}

.infoContainer1 h2, .infoContainer2 h2{
    font-size: 18px;
    padding: 3px;
}

.hidden{
    visibility: hidden;
}